/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Aug 11, 2022, 5:48:53 PM
    Author     : DELL
*/

body {
    background-color: #aaa;
    color: #333;
    font-size: 16px;
}

.item_nha_xe {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 6px;
    justify-content: space-between;
    padding: 0;
    margin: 10px 20px;
    color: #333;
    text-decoration: none;
}

.item_nha_xe:hover  {
    cursor: pointer; 
    color: #333;
    text-decoration: none;
}

.item_nha_xe:hover .img_nha_xe {
    transform: scale(1.1);
    transition: transform ease-in 0.2s;
}

.tuyen_xe_info_container {
    width: 80%;
    margin: 12px 20px;
}

.nha_xe_info {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

.img_nha_xe_wrap {
    overflow: hidden;
}

.img_nha_xe {
    height: 100%;
    transition: transform linear 0.2s;
}

/*tuyenXeDetail*/
.tx_info_detail_wrap {
    border: 1px solid #ccc;
    margin: 30px 0;
}

.tx_info_detail {
    border-radius: 6px;
    padding: 14px 24px;
    font-size: 18px;
}

.tx_title {
    background-color: #4cb508;
    border-radius: 4px 4px 0 0;
    padding: 14px 0px 14px 22px;
    margin: 0;
    font-weight: 700;
}

.cx_title {
    background-color: #00aeef;
    border-radius: 4px 4px 0 0;
    padding: 14px 0px 14px 22px;
    margin: 0;
    font-weight: 700;
}

.cx_info_detail {
    border-radius: 6px;
    padding: 14px 24px;
    font-size: 18px;
    border-bottom: 4px solid #ccc;
}

/*For rate star*/
/*.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}*/

.rating {
    display: flex;
    padding: 0;
    margin: 0;
}
.rating li {
    list-style-type: none;
}

.rating-item {
    border: 1px solid #aaa;
    cursor: pointer;
    font-size: 2em;
    color: yellow;
}
.rating-item::before {
    content: "\2605";
}
.rating-item.active ~ .rating-item::before {
    content: "\2606";
}
.rating:hover .rating-item::before {
    content: "\2605";
}
.rating-item:hover ~ .rating-item::before {
    content: "\2606";
}
